.contents{
    padding: 5%;
}
.footerContainer{
    background-color: #282828;
    color: #9A9A93;
    padding: 1%;
    display: flex;
    justify-content: space-around;
}
.footerSection{
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.footerSubSection{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}